<header>
  <h1>Método Simplex</h1>
  <p>Minimización</p>
</header>

<section id="content">
  <span>
    <h1 id="def">
      Definición
    </h1>
    <p>
      El Método Simplex es un método iterativo que permite ir mejorando la solución en cada paso. La razón matemática de esta mejora
      radica en que el método consiste en caminar del vértice de un poliedro a un vértice vecino de manera que aumente o
      disminuya (según el contexto de la función objetivo, sea maximizar o minimizar), dado que el número de vértices que
      presenta un poliedro solución es finito siempre se hallará solución.
    </p>
  </span>
  <br>
  <hr>
  <br>

  <app-input-matrix></app-input-matrix>



</section>



<footer>

  <span>Proyecto Modelos Cuantitativos
    <span id="copy">
      &copy;
    </span>

  </span>

  <p>
    Charles Acevedo | Carlos Pulido | José Montes
  </p>

</footer>